.index table {
	width: 100%;
}
.index table th,
.index table td {
	padding: 5px 10px;
}
.index table th {
	width: 150px;
	text-align: left;
	background-color: #EAEAEA;
}
.pagination {
	text-align: center;
}

.mod-center {
	text-align: center;
}

.mod-delate {
	text-align: right;
}